# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
venu/

# IDE
.vscode/
.idea/

# Logs
logs/

# MLflow
mlruns/
mlflow.db

# CatBoost
catboost_info/

# Reports
reports/

# DVC
.dvc/cache/

# Environment variables
.env

# Data & Models (managed by DVC)
/data
/models

# Build artifacts
artifacts/

#mlflow ui
start_mlflow.bat